<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <div class="row">
        <div class="row repo" ng-repeat="repo in repos.data | orderBy:'-updated_at'">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a target="_blank" href="http://www.github.com/{{repo.full_name}}">
                            {{repo.name}}
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    {{repo.description}}
                </div>
            </div>
        </div>
    </div>
</div>
